#menu a{
    text-decoration: none;
    text-align: center;
}
div.main {
    width: 960px;
    text-align: center;
}
body.main {
    background-color: #87CEEB;
}
tr.class1 {
    color: #ADFF2F;
}
tr.class2 {
    color: #FFA500;
}
header {
    text-align: center;
}
table {
    border-collapse: collapse;
    border: 1px solid grey;
}
